:root {
  --cor-aviso: #df2525;
}

.formcontato__form__container__invalido {
  margin-bottom: 0.5rem;
}

.formcontato__form__container__invalido .formcontato__input,
.formcontato__form__container__invalido .formcontato__textarea{
  border: 1px solid var(--cor-aviso);
  border-radius: 7px;
}

.formcontato__form__container__invalido .input-label {
  color: var(--cor-aviso);
}

.input-mensagem-erro {
  display: none;
}

.formcontato__form__container__invalido .input-mensagem-erro {
  color: var(--cor-aviso);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}